//font
@import './blocks/font'

// vars
@import './blocks/vars'

// header
@import './blocks/header'

// common
@import './blocks/common'

// main'
@import './blocks/home'
@import './blocks/question'
@import './blocks/tags'


// footer
@import './blocks/footer'


// search-page
@import './blocks/search'