body
  letter-spacing 0
  font-family Roboto, sans-serif
  background #eef2f4
  -webkit-font-smoothing antialiased

ul,
ol
  margin 0
  padding 0

ol
  list-style inside decimal

a
  text-decoration none


main
  margin-top 58px

footer
  background #343b4c


._off-scroll
  overflow hidden
  width 100% // ios 9 fix

.baner
  div
    margin-bottom space
    width 100%

.title
  textTransUp()
  font-size 14px
  font-family Roboto-Medium
  letter-spacing 1.5px
  margin 37px 0 18px 20px
  &._first-place
    margin 18px 20px

  &__counter
    font-family Roboto-Medium
    opacity 0.2
