._hover-reference-blue
  cursor pointer
  transition transAll
  word-wrap break-word
  &:hover
    color #315efb

._hover-underline
  border-bottom 1px solid rgba(255,255,255,0)
  word-wrap break-word
  &:hover
    border-bottom 1px solid

