@media print
  .baner,
  .topline,
  .viewed,
  .menu__point,
  .menu__search,
  .main__sidebar,
  .footer__menu,
  .footer__social,
  .rule__print-botton
    display none !important

  .main__content
    width 100%

  #icon-logo,
  #icon-footer_logo
    g
      fill #000000

  a,
  .footer__сopyright-title,
  .footer__сopyright-age-limit
    color #000000 !important

  body
    background none

  @page
    margin 2cm

