= render 'common/seo_attributes', object: tags_facade.metapage
- content_for :head_title, tags_facade.metapage.seo_title

- content_for :relation_links, relation_links(tags_facade.tags)

.title._first-place Все темы

- options = { collection: tags_facade.tags, as: :tag, cached: mobile_collection_proc }
= render partial: 'front/tags/tag', **options

.pagination-wrapper.js-pag-tags-ads = pagination(tags_facade.tags.object, mobile: true)
