.question
  background blockBack
  padding-top 20px
  margin-bottom space

  .questions__title
    margin-bottom 20px
    font-size 21px
    line-height 1.33
    color #262626

  .questions__text
    font-size 17px
    line-height 1.47
    word-wrap break-word

  h1
    font-weight: normal

  &__social
    margin-bottom 20px

