.popular-questions
  padding-bottom 14px
  background blockBack
  margin-bottom space
  borderBlock()

  &__block
    padding 0 25px
    margin-bottom 16px

  &__title
    textTransUp()
    font-size 11px
    line-height 1.82
    letter-spacing 1px
    color #8d96b2
    font-family Roboto

  &__theme
    font-size 13px
    line-height 1.4
    color #262626
    a
      font-family CorsicaRamblerLX-Medium
      font-size 13px
      color #262626
      line-height 20px



  &__counter
    font-size 11px
    color #315efb

  &__wrapper
    position relative
    top 3px
    display inline-block

  &__box
    centerBlock()
    margin-top -6px

  &__icon
    margin 0 4px
    display inline-block
    width 14px
    height 16px

    &-svg
      width 100%
      height 100%
