.recently-questions
  background blockBack
  margin-bottom space
  borderBlock()
  box-sizing border-box
  padding-bottom 30px

  .popular-questions__icon
    margin-left 0

  &__block
    padding 0 25px 13px
    word-wrap break-word

  &__title
    font-family CorsicaRamblerLX-Medium
    font-size 13px
    color #262626
    line-height 20px
    word-wrap break-word