.solution-card
  margin-bottom space

  &__title
    textTransUp()
    padding-top spaceHeadText
    font-size 12px
    color #4a4a4a
    margin-bottom 15px

  &__block
    display flex
    background blockBack
    margin-top 10px
    padding 20px 20px 14px 20px
    box-sizing border-box

  &__cover
    width 72px
    height 100px
    margin-right 19px

  &__book
    flex-grow 2


  &__layer,
  &__section
    display block
    color #000000

  &__layer
    font-size 15px
    font-weight bold
    margin-bottom 10px

  &__section
    font-size 13px
    line-height 1.4

  &__border
    border-top solid 1px #d0d0d0
    margin 14px 0

  &__authors
    a
      font-size 13px
      line-height 1.4
      color #315efb

  &__publication
    font-size 13px
    color #000000
