// vars
@import './blocks/vars'

// Rambler Font
@import './blocks/font'

// header
@import './blocks/header'

// common
@import './blocks/common'
@import './blocks/search'
@import './blocks/news'

// main
@import './blocks/question'
@import './blocks/tags'

// footer
@import './blocks/footer'

// search-page
@import './blocks/search'
