.menu

  &__rambler,
  &__class
    position absolute
    top 50%
    height 26px
    margin-top -13px

  &__rambler
    left 0
    width 60%

  &__class
    right 0
    width 40%

  &__point,
  ul
    display inline-block

  &__box,
  &__logo
    centerBlock()

  &__box
    height menuHeight

  &__logo
    position relative
    width 244px
    height 37px
    margin-right 10px

    &-svg
      width 100%
      height 100%

  &__point
    margin-right 28px

    a
      font-size 14px
      color #262626

      &._activ
        font-weight bold

  &__search
    width 19px
    height 19px
    margin-right 7px

    &-svg
      width 100%
      height 100%
