toplineHeight = 38px

.topline
  position relative
  top toplineHeight * -1
  transition all .5s ease-in-out
  &._active
    position fixed
    top -35px
    left 0
    right 0
    z-index 5
    @media(max-width: min-width)
      top -38px
      transform translateY(4px);

    .menu-transformer__wrapper
      top 0
    .topline-wrapper
      top 0
    &:hover
      transform translateY(35px);

  .widget-sidebar
    display none

  &-wrapper
    position relative
    top toplineHeight
    z-index 6
    height toplineHeight
    background blockBack
