- index = ad_service.id_for(:ban_content)

div id="ban-content#{index}"
  javascript:
    Adf.banner.showScroll("ban-content#{index}", {
      'p1': 'bvknm',
      'p2': 'emil',
      'pct': 'a',
      'puid49': "content#{index}"
    });
