.question-common__social.rambler-share.js-common-social data-social-link=SecureRandom.hex(10)
	.question-common__social-icon.js-open-share
		= svg name: 'plus', klass: 'question-common__social-icon-svg'
