@font-face
  font-family CorsicaRamblerLX-Medium
  font-style normal
  src url(blocks/font/CorsicaRamblerLX-Medium.otf)

@font-face
  font-family CorsicaRamblerLX-SemiBold
  font-style normal
  src url(blocks/font/CorsicaRamblerLX-SemiBold.otf)

@font-face
  font-family Roboto-Medium
  font-style normal
  src url(blocks/font/Roboto-Medium.ttf)

@font-face
  font-family Roboto
  font-style normal
  src url(blocks/font/Roboto-Regular.ttf)
