.pop-up-question
  position fixed
  top 0
  right 0
  bottom 0
  left 0
  background rgba(0, 0, 0, 0.8)
  display none
  overflow scroll
  padding 20px

  &._activ
    display flex

    .mce-tinymce,
    .selectize-control
      margin-bottom 8px

  &__block
    position relative
    padding 40px 50px
    box-sizing border-box
    width 660px
    background blockBack
    margin auto

  &__title
    font-family CorsicaRamblerLX-Medium
    font-weight 500
    font-size 25px
    color #262626
    margin-bottom 10px

  &__close
      position absolute
      cursor pointer
      top 12px
      right 12px
      width 20px
      height 20px
      opacity 0.4
      transition transAll
      &:hover
        opacity 1
        .pop-up-question__close-svg
          opacity 0
          &._activ
            opacity 1

      &-svg
        position absolute
        top 0
        left 0
        width 100%
        height 100%
        opacity 1
        transition transAll

        &._activ
          opacity 0


  &__form
    font-family Roboto

    label
      font-size 14px

    input
      width 100%
      height 45px
      font-size 16px

  &__label
    font-size 14px
    line-height 2.86
    color #262626

  &__quantity-symbols
    opacity 0.4
    font-size 13px
    line-height 1.54
    color #262626

  &__title-error
    @extend .pop-up-question__quantity-symbols
    opacity 1
    color red

  &__tag-ids-error
    @extend .pop-up-question__quantity-symbols
    opacity 1
    color red

  &__box
    margin-top 25px
    margin-bottom 15px

    &._disabled-user
      .pop-up-question__login
        display none

  &__box,
  &__login
    centerBlock()

  &__button
    width 140px
    margin-right 20px

  &__avatar
    width 24px
    height 24px
    border-radius 50%
    margin-right 8px
    background-size cover
    background-position 50%

  &__name
    font-size 13px
    line-height 1.85
    color #262626

  &__agreement
    opacity 0.8
    font-size 12px
    line-height 1.33
    color #262626
    font-family Roboto
    a
      color #262626
      text-decoration underline


._mb
  margin-bottom 10px

._hidden
  display none
