.pop-up-complaint
  font-family Roboto
  &__title
    font-size 25px
    font-weight 500
    color #262626
    line-heigth 1.2
    margin-bottom 30px
    font-family CorsicaRamblerLX

  // &__form

  &__checkbox
    margin-bottom 35px

  &__label
    display block
    color #262626
    font-size 14px
    line-height 1.43

  &__textarea
    display block
    margin-top 12px
    width 420px
    height 120px
    object-fit contain
    resize vertical
    outline none
    background-color transparent
    border 1px solid #ccc
    padding 10px 15px
    box-sizing border-box
    &:focus
      border 1px solid #315efb
    &::placeholder
      color rgba(38, 38, 38, 0.4)
      font-size 13px

  &__quantity-symbols
    opacity .4
    font-size 13px
    line-height 1.54
    color #262626
    margin-bottom 35px

  &__email
    padding-left 15px
    background transparent
    box-sizing border-box
    line-height 2.5
    color #262626
    transition all .15s ease-out
    display block
    margin-top 8px
    width 300px
    height 45px
    border 1px solid #ccc
    outline none
    &:focus
      border 1px solid #315efb
    &::placeholder
      color rgba(38, 38, 38, 0.4)
      font-size 13px

  &__button
    width 100px
    margin 40px 0 15px

  &__success-container
    display table
    width 100%

  &__success
    display none
    // display flex
    vertical-align middle
    height 300px
    text-align center

  &__success-title
    font-size 32px
    font-weight bold
    line-height 0.84
    text-align center
    margin-bottom 14px

  &__success-text
    font-size 15px
    line-height 1.47
