.present-question
  position relative
  padding 20px 25px 30px
  width 300px
  height 325px
  background linear-gradient(-135deg, #01CFDB 0%, #00A2D4 100%)
  border-right 1px
  box-sizing border-box
  display flex
  flex-direction column
  flex-wrap flex-start
  margin-right space
  float left
  &-svg
    position absolute
    height 257px
    bottom 22px
    right 15px
  @media(max-width: max-width)
    margin-bottom space

  &__title,
  &__input,
  &__button
    position relative
    z-index 1

  &__title
    font-size 22px
    font-weight 500
    line-height 1.36
    color #ffffff
    margin-bottom 25px

  &__input
    transition transAll
    font-size 12px
    padding 13px 15px
    width 100%
    height 45px
    resize none
    outline none
    box-sizing border-box
    line-height 1.8
    color #262626
    border none
    background rgb(255, 255, 255)
    box-shadow 0 1px 3px 0 rgba(0, 0, 0, 0.2)
    border-radius  1px
    overflow hidden
    font-family CorsicaRamblerLX
    &::placeholder
      font-size 12px
      line-height 1.67
      color #8d96b2
    &:focus
      height 165px
      outline-color #315efb
      outline-width 2px
      outline-offset 1px
      outline-style auto
      &::placeholder
        color transparent

  &__button
    height 35px
    font-family Roboto
    font-weight 500
    &-wrapper
      display flex
      margin-top auto

._themes-size-question
  .present-question
    height 210px
    display flex
    margin-bottom space
    &-svg
      display none

    &__input
      transition none
      &:focus
        height 45px
