.questions
  width 100%

  &__block
    background blockBack
    margin-bottom space
    borderBlock()

  .question-common__title
    word-wrap break-word
    display block

  .question-common__text
    p
      margin-top 0

.similar-questions
	&__detail
		color #315efb
