.question
  background blockBack
  margin-bottom space
  borderBlock()

  &-social
    overflow hidden
    width 300px
    height 50px

    div
      box-sizing border-box

    div[data-rambler-share='vkontakte']
      margin: 5px -1px 5px 0 !important
      color #2f76a6 !important
      &:hover
        border 1px solid #eee !important

      span
        font-size 11px !important
        color rgba(38, 38, 38, 0.6) !important
        border-left none !important

    div[data-rambler-share='facebook']
      margin: 5px -1px 5px 0 !important
      color #3b5998 !important
      &:hover
        border 1px solid #eee !important

      span
        font-size 11px !important
        color rgba(38, 38, 38, 0.6) !important
        border-left none !important

    div[data-rambler-share='livejournal']
      margin: 5px -1px 5px 0 !important
      color #00344b !important
      &:hover
        border 1px solid #eee !important

      span
        font-size 11px !important
        color rgba(38, 38, 38, 0.6) !important
        border-left none !important

    div[data-rambler-share='odnoklassniki']
      margin: 5px -1px 5px 0 !important
      color #f4811f !important
      &:hover
        border 1px solid #eee !important

      span
        font-size 11px !important
        color rgba(38, 38, 38, 0.6) !important
        border-left none !important

    div[data-rambler-share='twitter']
      margin: 5px -1px 5px 0 !important
      color #1da1f2 !important
      &:hover
        border 1px solid #eee !important

      span
        font-size 11px !important
        color rgba(38, 38, 38, 0.6) !important
        border-left none !important
