.search
  centerBlock()
  flex-grow 1
  position relative

  &__select
    position relative
    height 40px
    flex-grow 1

    input
      width 100%
      height 40px
      font-size 14px
      border solid 2px #315efb
      &:hover
        border solid 2px #274bc8

      &:focus
        border solid 2px #274bc8

    .clear-input
      cursor pointer
      width 11px
      height 13px
      position absolute
      top 12px
      right 13px
      &-svg
        width 100%
        height 100%

      &._hidden
        display: none


  &__botton
    width 175px
    height 40px
    margin-left 10px
    font-size 12px
    font-family Roboto
    font-weight 500
    line-height 0.83
    letter-spacing 1.4px
    box-sizing border-box

    ._button-dark-blue-icon
      width 10px
      height 10px
      display inline-block
      margin-left 6.5px




.search-result

  position absolute
  background #fff
  width 100%
  top 100%
  z-index 4
  margin-top 1px
  border-radius 1px
  box-shadow 0 2px 4px 0 rgba(102, 116, 166, 0.2)

  &_hidden
    display none

  &__title
    font-size 11px
    line-height 3.38
    color #8d96b2
    padding-left 5px

    &._box-title
      position absolute
      right 15px

  &__box
    position relative
    border-bottom varsBorder

  &__item
    centerBlock()
    height 40px
    text-decoration none
    padding 0 90px 0 15px
    color #262626
    font-size 14px
    box-sizing border-box

    &:hover
      background-color #f6f8f9

    span
      white-space nowrap
      text-overflow ellipsis
      overflow hidden

    b
      //background-color #fff57f
      font-weight normal
      margin-left 2px
      margin-right 2px

  &__icon
    width 26px
    height 26px
    margin-right 12px

.search-result-global
  font-size 13px
  line-height 3.69
  padding 0 15px
  display flex
  height 45px

  &__linck
    centerBlock()
    cursor pointer

    &:hover
      .search-result-global__all-result
        color  #315efb
      .search-result-global__icon-svg
        opacity 0
        &._activ
          opacity 1

  &__icon
    position relative
    margin-right 13px
    color #315efb
    width 19px
    height 29px

    &-svg
      top 0
      position absolute
      width 100%
      height 100%
      opacity 1
      transition transAll

      &._activ
        opacity 0

  &__all-result
    color #656565
    margin-right 6px
    transition transAll

  &__search-query
    color #262626
    font-size 13px
    @media(max-width: min-width)
      display inline-block
      width 85px
      textEllipsis()

  &__in-internet
    margin-left auto
    a
      color #8d96b2
      font-size 11px
      line-height 3.38
      letter-spacing 1px
      @media(max-width: min-width)
        textEllipsis()

//main
//  &.overlap
//    position relative
//
//    &:before
//      content ""
//      position absolute
//      background rgba(0,0,0,.4)
//      display block
//      z-index 3
//      top -54px // add .question-menu height
//      left 0
//      right 0
//      bottom 0
