.your-answer

  &__block
    borderBlock()
    background blockBack
    margin-bottom space
    padding 20px 20px 22px 20px

  &__box
    centerBlock()
    margin-top 20px
    margin-bottom 15px
    &._disabled-user
      .question-common__user
        display none


  &__button
    margin-right 18px
    &._button-none
      pointer-events none
      color #a0b5fd


  &__authen
    display none
    span
      opacity 0.6
      font-size 13px
      line-height 1.38
      color #262626
    a
      line-height 1.54
      font-size 13px
      color #315efb
