= render 'common/counters/google'
= render 'common/counters/yandex'
= render 'common/counters/yandex_portal'
= render 'common/counters/yandex_portal_mobile'
= render 'common/counters/yandex_project_mobile'
= render 'common/counters/tns'
= render 'common/counters/top_100'
