._hover-reference-blue,
._hover-reference-gray
  cursor pointer
  transition transAll

._hover-reference-blue
  &:hover
    color #315efb
  &._active
    color #315efb

._hover-reference-gray
  &:hover
    color #ccc

._hover-underline
  cursor pointer
  transition transAll
  border-bottom 1px solid rgba(255,255,255,0)
  &:hover
    border-bottom 1px solid

