space          = 15px
spaceTheme     = 15px
spaceHeadText  = 17px
blockBack      = #ffffff
blockBackOpas  = rgba(255,255,255,0.5)
delayMin       = 150ms
delayMax       = 300ms
transAll       = all delayMin ease-out
transAllEffect = all delayMax ease-out
hoverBoxShadow = 0px 0px 23px 0px rgba(0,0,0,0.1)
menuHeight     = 40px
max-width      = 1279px
min-width      = 1023px
varsBorder     = 1px solid rgba(141,150,178,0.20)



textEllipsisNumberLines(quantity, maxHeight) // Работает только в хроме
  max-height maxHeight
  display -webkit-box
  -webkit-line-clamp quantity
  -webkit-box-orient vertical
  text-overflow ellipsis
  overflow hidden

textEllipsis()
  overflow hidden
  text-overflow ellipsis
  white-space nowrap

borderBlock()
  background #FFFFFF
  border varsBorder
  border-radius 1px
  transition transAll
  box-sizing border-box
  &hover
    border 1px solid rgba(141,150,178,0.30)

centerBlock()
  display flex
  align-items center

blockFix(color)
  border 1px solid color
  box-sizing border-box

textTransUp()
  text-transform uppercase
  letter-spacing 1.3px

blockHeadTitle()
  centerBlock()
  height 66px
  border-bottom 1px solid #d0d0d0

curtain()
  z-index 1
  position fixed
  top 0
  left 0
  width 100%
  height 100%
  background rgba(0, 0, 0, 0.8)


