@font-face
  font-family Roboto-Medium
  font-style normal
  src url(blocks/font/Roboto-Medium.ttf)

@font-face
  font-family Roboto
  font-style normal
  src url(blocks/font/Roboto-Regular.ttf)

@font-face
  font-family CorsicaRamblerLX
  font-weight 400
  src url(blocks/font/CorsicaRamblerLX-Regular.ttf)

@font-face
  font-family CorsicaRamblerLX
  font-weight 500
  src url(blocks/font/CorsicaRamblerLX-Medium.ttf)

@font-face
  font-family CorsicaRamblerLX
  font-weight 700
  src url(blocks/font/CorsicaRamblerLX-Bold.ttf)
