@import './news-menu'
@import './news-main'
@import './news-common'
@import './left-menu'
@import './news-day'
@import './most-read'
@import './news-items'
@import './news-big'
@import './news-mini'
@import './news-text'
@import './news-list'
@import './news-card'
@import './news-partners'
@import './loading'
@import './you-interested'