.left-menu
  width 165px
  ul
    margin-left 0
    padding-left 0
    margin-top -7px
    li
      list-style-type none
      &:nth-last-child(1)
        margin-bottom 0
      a
        display: inline-block;
        font-size: 14px;
        line-height: 2.5;
        letter-spacing: 0.3px;
        text-align: left;
        color: #262626;
        &._active
          color #315efb

