.news-main

  &__wrapper-columns
    width 780px
    height 930px
    overflow hidden
    transition all 500ms ease-out
    @media(max-width: max-width)
      width 630px
      height 1060px
    @media(max-width: min-width)
      height 850px

  &__column
    width 100%
    overflow hidden

