.news-list
  borderBlock()
  width 300px
  height 100%

  &__title
    centerBlock()
    height 44px
    padding-left 25px
    border-bottom varsBorder
    font-size 15px
    font-weight 500
    line-height 1.33
    color #262626

  &__content
    padding 20px 25px 0 40px
    box-sizing border-box
    overflow hidden

    ul
      li
        margin-bottom 17px
        height 42px
        a
          font-size 13px
          font-weight 500
          line-height 1.54
          color #262626

  &__button
    width 177px
    height 35px
    padding 0
    font-family Roboto-Medium
    font-weight 500